---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-top: 0.6em; padding-bottom: 0.3em;'>Songlin Jiang</div>
      <div style='font-size: 1.2em; padding-top: 0.6em;'>
        <a href="https://www.aalto.fi/en/people/songlin-jiang">Doctoral Researcher</a>
      </div>
      <div style='font-size: 1.2em; padding-top: 0.6em;'>
        Aalto University
      </div>
      <div style='font-size: 1.2em; padding-top: 0.6em;'>
        <a href="mailto:hollowman@opensuse.org">hollowman@opensuse.org</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/CV-Songlin-Jiang.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"> PDF </i>
        </a>
      </div>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="https://www.youtube.com/watch?v=ZBK5wKpvM3s&t=1773s">
        <img src="images/me.png"
             style="border-radius: 50px; margin: 10px; margin-top:30px; max-width: 300px;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
