---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-top: 0.6em; padding-bottom: 0.3em;'>Songlin Jiang</div>
      <div style='font-size: 1.2em'>
        <a href="mailto:hollowman@opensuse.org">hollowman@opensuse.org</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/CV-Songlin-Jiang.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"> PDF </i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
{{ content }}
    </div>
  </div>
</div>
